$dblue:#111D4A;
$blue:#058ED9;
$dred:#960200;
$lgrey:#E7E6EA;
.nav_container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  z-index: 10;
  background-color: white;
}
.nav_top {
  display: flex;
  padding: 0px 10px;
  height: 45px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.icons {
  display: flex;
  align-items: center;
}
.search_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
