$dblue:#111D4A;
$blue:#058ED9;
$dred:#960200;
$lgrey:#E7E6EA;
.search {
  padding: 5px;
  background-color: #231942;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  width: 100%;
}
